BARBARES_SistemaWeb/BARBARES_SistemaWeb/Service References/ServiceReferenceProducto/Producto_Services.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Producto_Services" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2576/Producto_Services.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2576/Producto_Services.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2576/Producto_Services.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProducto_Services_selectAll_Producto_InputMessage">
    <wsdl:part name="parameters" element="tns:selectAll_Producto" />
  </wsdl:message>
  <wsdl:message name="IProducto_Services_selectAll_Producto_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectAll_ProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IProducto_Services_add_Producto_InputMessage">
    <wsdl:part name="parameters" element="tns:add_Producto" />
  </wsdl:message>
  <wsdl:message name="IProducto_Services_add_Producto_OutputMessage">
    <wsdl:part name="parameters" element="tns:add_ProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IProducto_Services_selectAll_TipoProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:selectAll_TipoProducto" />
  </wsdl:message>
  <wsdl:message name="IProducto_Services_selectAll_TipoProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectAll_TipoProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IProducto_Services_add_TipoProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:add_TipoProducto" />
  </wsdl:message>
  <wsdl:message name="IProducto_Services_add_TipoProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:add_TipoProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IProducto_Services_selectAll_UnidadProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:selectAll_UnidadProducto" />
  </wsdl:message>
  <wsdl:message name="IProducto_Services_selectAll_UnidadProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectAll_UnidadProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IProducto_Services_add_UnidadProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:add_UnidadProducto" />
  </wsdl:message>
  <wsdl:message name="IProducto_Services_add_UnidadProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:add_UnidadProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IProducto_Services_selectAll_ProductoXAlmacen_InputMessage">
    <wsdl:part name="parameters" element="tns:selectAll_ProductoXAlmacen" />
  </wsdl:message>
  <wsdl:message name="IProducto_Services_selectAll_ProductoXAlmacen_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectAll_ProductoXAlmacenResponse" />
  </wsdl:message>
  <wsdl:message name="IProducto_Services_add_ProductoXAlmacen_InputMessage">
    <wsdl:part name="parameters" element="tns:add_ProductoXAlmacen" />
  </wsdl:message>
  <wsdl:message name="IProducto_Services_add_ProductoXAlmacen_OutputMessage">
    <wsdl:part name="parameters" element="tns:add_ProductoXAlmacenResponse" />
  </wsdl:message>
  <wsdl:message name="IProducto_Services_selectAll_ProductoXVehiculo_InputMessage">
    <wsdl:part name="parameters" element="tns:selectAll_ProductoXVehiculo" />
  </wsdl:message>
  <wsdl:message name="IProducto_Services_selectAll_ProductoXVehiculo_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectAll_ProductoXVehiculoResponse" />
  </wsdl:message>
  <wsdl:message name="IProducto_Services_add_ProductoXVehiculo_InputMessage">
    <wsdl:part name="parameters" element="tns:add_ProductoXVehiculo" />
  </wsdl:message>
  <wsdl:message name="IProducto_Services_add_ProductoXVehiculo_OutputMessage">
    <wsdl:part name="parameters" element="tns:add_ProductoXVehiculoResponse" />
  </wsdl:message>
  <wsdl:portType name="IProducto_Services">
    <wsdl:operation name="selectAll_Producto">
      <wsdl:input wsaw:Action="http://tempuri.org/IProducto_Services/selectAll_Producto" message="tns:IProducto_Services_selectAll_Producto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProducto_Services/selectAll_ProductoResponse" message="tns:IProducto_Services_selectAll_Producto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="add_Producto">
      <wsdl:input wsaw:Action="http://tempuri.org/IProducto_Services/add_Producto" message="tns:IProducto_Services_add_Producto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProducto_Services/add_ProductoResponse" message="tns:IProducto_Services_add_Producto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectAll_TipoProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IProducto_Services/selectAll_TipoProducto" message="tns:IProducto_Services_selectAll_TipoProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProducto_Services/selectAll_TipoProductoResponse" message="tns:IProducto_Services_selectAll_TipoProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="add_TipoProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IProducto_Services/add_TipoProducto" message="tns:IProducto_Services_add_TipoProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProducto_Services/add_TipoProductoResponse" message="tns:IProducto_Services_add_TipoProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectAll_UnidadProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IProducto_Services/selectAll_UnidadProducto" message="tns:IProducto_Services_selectAll_UnidadProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProducto_Services/selectAll_UnidadProductoResponse" message="tns:IProducto_Services_selectAll_UnidadProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="add_UnidadProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IProducto_Services/add_UnidadProducto" message="tns:IProducto_Services_add_UnidadProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProducto_Services/add_UnidadProductoResponse" message="tns:IProducto_Services_add_UnidadProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectAll_ProductoXAlmacen">
      <wsdl:input wsaw:Action="http://tempuri.org/IProducto_Services/selectAll_ProductoXAlmacen" message="tns:IProducto_Services_selectAll_ProductoXAlmacen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProducto_Services/selectAll_ProductoXAlmacenResponse" message="tns:IProducto_Services_selectAll_ProductoXAlmacen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="add_ProductoXAlmacen">
      <wsdl:input wsaw:Action="http://tempuri.org/IProducto_Services/add_ProductoXAlmacen" message="tns:IProducto_Services_add_ProductoXAlmacen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProducto_Services/add_ProductoXAlmacenResponse" message="tns:IProducto_Services_add_ProductoXAlmacen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectAll_ProductoXVehiculo">
      <wsdl:input wsaw:Action="http://tempuri.org/IProducto_Services/selectAll_ProductoXVehiculo" message="tns:IProducto_Services_selectAll_ProductoXVehiculo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProducto_Services/selectAll_ProductoXVehiculoResponse" message="tns:IProducto_Services_selectAll_ProductoXVehiculo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="add_ProductoXVehiculo">
      <wsdl:input wsaw:Action="http://tempuri.org/IProducto_Services/add_ProductoXVehiculo" message="tns:IProducto_Services_add_ProductoXVehiculo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProducto_Services/add_ProductoXVehiculoResponse" message="tns:IProducto_Services_add_ProductoXVehiculo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="webEndPoint" type="tns:IProducto_Services">
    <wsdl:operation name="selectAll_Producto">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="add_Producto">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="selectAll_TipoProducto">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="add_TipoProducto">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="selectAll_UnidadProducto">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="add_UnidadProducto">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="selectAll_ProductoXAlmacen">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="add_ProductoXAlmacen">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="selectAll_ProductoXVehiculo">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="add_ProductoXVehiculo">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Producto_Services">
    <wsdl:port name="webEndPoint" binding="tns:webEndPoint" />
  </wsdl:service>
</wsdl:definitions>