BARBARES_SistemaWeb/BARBARES_SistemaWeb/Service References/ServiceReferenceProducto/Producto_Services2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2576/Producto_Services.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" />
  <xs:element name="selectAll_Producto">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAll_ProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="selectAll_ProductoResult" nillable="true" type="q1:ArrayOfProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_Producto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="p" nillable="true" type="q2:Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_ProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="add_ProductoResult" nillable="true" type="q3:ResponseBD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAll_TipoProducto">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAll_TipoProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="selectAll_TipoProductoResult" nillable="true" type="q4:ArrayOfTipoProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_TipoProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="t" nillable="true" type="q5:TipoProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_TipoProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="add_TipoProductoResult" nillable="true" type="q6:ResponseBD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAll_UnidadProducto">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAll_UnidadProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="selectAll_UnidadProductoResult" nillable="true" type="q7:ArrayOfUnidadProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_UnidadProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="u" nillable="true" type="q8:UnidadProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_UnidadProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="add_UnidadProductoResult" nillable="true" type="q9:ResponseBD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAll_ProductoXAlmacen">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAll_ProductoXAlmacenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="selectAll_ProductoXAlmacenResult" nillable="true" type="q10:ArrayOfProductoXAlmacen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_ProductoXAlmacen">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="p" nillable="true" type="q11:ProductoXAlmacen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_ProductoXAlmacenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="add_ProductoXAlmacenResult" nillable="true" type="q12:ResponseBD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAll_ProductoXVehiculo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAll_ProductoXVehiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="selectAll_ProductoXVehiculoResult" nillable="true" type="q13:ArrayOfProductoXVehiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_ProductoXVehiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="p" nillable="true" type="q14:ProductoXVehiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_ProductoXVehiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="add_ProductoXVehiculoResult" nillable="true" type="q15:ResponseBD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>