BARBARES_SistemaWeb/BARBARES_SistemaWeb/Service References/ServiceReferenceMovimiento/Movimiento_Services.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMovimiento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Movimiento" nillable="true" type="tns:Movimiento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMovimiento" nillable="true" type="tns:ArrayOfMovimiento" />
  <xs:complexType name="Movimiento">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdAlmacen" type="xs:int" />
      <xs:element minOccurs="0" name="IdMovimiento" type="xs:int" />
      <xs:element minOccurs="0" name="IdPedido" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoMovimiento" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="IdVehiculo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Movimiento" nillable="true" type="tns:Movimiento" />
  <xs:complexType name="ResponseBD">
    <xs:sequence>
      <xs:element minOccurs="0" name="Flujo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseBD" nillable="true" type="tns:ResponseBD" />
  <xs:complexType name="ArrayOfDetalleMovimiento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DetalleMovimiento" nillable="true" type="tns:DetalleMovimiento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDetalleMovimiento" nillable="true" type="tns:ArrayOfDetalleMovimiento" />
  <xs:complexType name="DetalleMovimiento">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:double" />
      <xs:element minOccurs="0" name="FechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdDetalleMovimiento" type="xs:int" />
      <xs:element minOccurs="0" name="IdMovimiento" type="xs:int" />
      <xs:element minOccurs="0" name="IdProductoXVehiculo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DetalleMovimiento" nillable="true" type="tns:DetalleMovimiento" />
  <xs:complexType name="ArrayOfTipoMovimiento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoMovimiento" nillable="true" type="tns:TipoMovimiento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoMovimiento" nillable="true" type="tns:ArrayOfTipoMovimiento" />
  <xs:complexType name="TipoMovimiento">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdTipoMovimiento" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UltimaModificacion" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoMovimiento" nillable="true" type="tns:TipoMovimiento" />
</xs:schema>