BARBARES_SistemaWeb/BARBARES_SistemaWeb/Service References/ServiceReferenceMovimiento/Movimiento_Services.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Movimiento_Services" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2576/Movimiento_Services.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2576/Movimiento_Services.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2576/Movimiento_Services.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMovimiento_Services_selectAll_Movimiento_InputMessage">
    <wsdl:part name="parameters" element="tns:selectAll_Movimiento" />
  </wsdl:message>
  <wsdl:message name="IMovimiento_Services_selectAll_Movimiento_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectAll_MovimientoResponse" />
  </wsdl:message>
  <wsdl:message name="IMovimiento_Services_add_Movimiento_InputMessage">
    <wsdl:part name="parameters" element="tns:add_Movimiento" />
  </wsdl:message>
  <wsdl:message name="IMovimiento_Services_add_Movimiento_OutputMessage">
    <wsdl:part name="parameters" element="tns:add_MovimientoResponse" />
  </wsdl:message>
  <wsdl:message name="IMovimiento_Services_selectAll_DetalleMovimiento_InputMessage">
    <wsdl:part name="parameters" element="tns:selectAll_DetalleMovimiento" />
  </wsdl:message>
  <wsdl:message name="IMovimiento_Services_selectAll_DetalleMovimiento_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectAll_DetalleMovimientoResponse" />
  </wsdl:message>
  <wsdl:message name="IMovimiento_Services_add_DetalleMovimiento_InputMessage">
    <wsdl:part name="parameters" element="tns:add_DetalleMovimiento" />
  </wsdl:message>
  <wsdl:message name="IMovimiento_Services_add_DetalleMovimiento_OutputMessage">
    <wsdl:part name="parameters" element="tns:add_DetalleMovimientoResponse" />
  </wsdl:message>
  <wsdl:message name="IMovimiento_Services_selectAll_TipoMovimiento_InputMessage">
    <wsdl:part name="parameters" element="tns:selectAll_TipoMovimiento" />
  </wsdl:message>
  <wsdl:message name="IMovimiento_Services_selectAll_TipoMovimiento_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectAll_TipoMovimientoResponse" />
  </wsdl:message>
  <wsdl:message name="IMovimiento_Services_add_TipoMovimiento_InputMessage">
    <wsdl:part name="parameters" element="tns:add_TipoMovimiento" />
  </wsdl:message>
  <wsdl:message name="IMovimiento_Services_add_TipoMovimiento_OutputMessage">
    <wsdl:part name="parameters" element="tns:add_TipoMovimientoResponse" />
  </wsdl:message>
  <wsdl:portType name="IMovimiento_Services">
    <wsdl:operation name="selectAll_Movimiento">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovimiento_Services/selectAll_Movimiento" message="tns:IMovimiento_Services_selectAll_Movimiento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovimiento_Services/selectAll_MovimientoResponse" message="tns:IMovimiento_Services_selectAll_Movimiento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="add_Movimiento">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovimiento_Services/add_Movimiento" message="tns:IMovimiento_Services_add_Movimiento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovimiento_Services/add_MovimientoResponse" message="tns:IMovimiento_Services_add_Movimiento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectAll_DetalleMovimiento">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovimiento_Services/selectAll_DetalleMovimiento" message="tns:IMovimiento_Services_selectAll_DetalleMovimiento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovimiento_Services/selectAll_DetalleMovimientoResponse" message="tns:IMovimiento_Services_selectAll_DetalleMovimiento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="add_DetalleMovimiento">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovimiento_Services/add_DetalleMovimiento" message="tns:IMovimiento_Services_add_DetalleMovimiento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovimiento_Services/add_DetalleMovimientoResponse" message="tns:IMovimiento_Services_add_DetalleMovimiento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectAll_TipoMovimiento">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovimiento_Services/selectAll_TipoMovimiento" message="tns:IMovimiento_Services_selectAll_TipoMovimiento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovimiento_Services/selectAll_TipoMovimientoResponse" message="tns:IMovimiento_Services_selectAll_TipoMovimiento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="add_TipoMovimiento">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovimiento_Services/add_TipoMovimiento" message="tns:IMovimiento_Services_add_TipoMovimiento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovimiento_Services/add_TipoMovimientoResponse" message="tns:IMovimiento_Services_add_TipoMovimiento_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="webEndPoint" type="tns:IMovimiento_Services">
    <wsdl:operation name="selectAll_Movimiento">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="add_Movimiento">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="selectAll_DetalleMovimiento">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="add_DetalleMovimiento">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="selectAll_TipoMovimiento">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="add_TipoMovimiento">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Movimiento_Services">
    <wsdl:port name="webEndPoint" binding="tns:webEndPoint" />
  </wsdl:service>
</wsdl:definitions>