BARBARES_SistemaWeb/BARBARES_SistemaWeb/Service References/ServiceReferencePromocion/Promocion_Services1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2576/Promocion_Services.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" />
  <xs:element name="selectAll_Promocion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAll_PromocionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="selectAll_PromocionResult" nillable="true" type="q1:ArrayOfPromocion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_Promocion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="p" nillable="true" type="q2:Promocion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_PromocionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="add_PromocionResult" nillable="true" type="q3:ResponseBD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAll_DetallePromocion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAll_DetallePromocionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="selectAll_DetallePromocionResult" nillable="true" type="q4:ArrayOfDetallePromocion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_DetallePromocion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="d" nillable="true" type="q5:DetallePromocion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_DetallePromocionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="add_DetallePromocionResult" nillable="true" type="q6:ResponseBD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>