BARBARES_SistemaWeb/BARBARES_SistemaWeb/Service References/ServiceReferencePromocion/Promocion_Services.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Promocion_Services" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2576/Promocion_Services.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2576/Promocion_Services.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2576/Promocion_Services.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPromocion_Services_selectAll_Promocion_InputMessage">
    <wsdl:part name="parameters" element="tns:selectAll_Promocion" />
  </wsdl:message>
  <wsdl:message name="IPromocion_Services_selectAll_Promocion_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectAll_PromocionResponse" />
  </wsdl:message>
  <wsdl:message name="IPromocion_Services_add_Promocion_InputMessage">
    <wsdl:part name="parameters" element="tns:add_Promocion" />
  </wsdl:message>
  <wsdl:message name="IPromocion_Services_add_Promocion_OutputMessage">
    <wsdl:part name="parameters" element="tns:add_PromocionResponse" />
  </wsdl:message>
  <wsdl:message name="IPromocion_Services_selectAll_DetallePromocion_InputMessage">
    <wsdl:part name="parameters" element="tns:selectAll_DetallePromocion" />
  </wsdl:message>
  <wsdl:message name="IPromocion_Services_selectAll_DetallePromocion_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectAll_DetallePromocionResponse" />
  </wsdl:message>
  <wsdl:message name="IPromocion_Services_add_DetallePromocion_InputMessage">
    <wsdl:part name="parameters" element="tns:add_DetallePromocion" />
  </wsdl:message>
  <wsdl:message name="IPromocion_Services_add_DetallePromocion_OutputMessage">
    <wsdl:part name="parameters" element="tns:add_DetallePromocionResponse" />
  </wsdl:message>
  <wsdl:portType name="IPromocion_Services">
    <wsdl:operation name="selectAll_Promocion">
      <wsdl:input wsaw:Action="http://tempuri.org/IPromocion_Services/selectAll_Promocion" message="tns:IPromocion_Services_selectAll_Promocion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPromocion_Services/selectAll_PromocionResponse" message="tns:IPromocion_Services_selectAll_Promocion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="add_Promocion">
      <wsdl:input wsaw:Action="http://tempuri.org/IPromocion_Services/add_Promocion" message="tns:IPromocion_Services_add_Promocion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPromocion_Services/add_PromocionResponse" message="tns:IPromocion_Services_add_Promocion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectAll_DetallePromocion">
      <wsdl:input wsaw:Action="http://tempuri.org/IPromocion_Services/selectAll_DetallePromocion" message="tns:IPromocion_Services_selectAll_DetallePromocion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPromocion_Services/selectAll_DetallePromocionResponse" message="tns:IPromocion_Services_selectAll_DetallePromocion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="add_DetallePromocion">
      <wsdl:input wsaw:Action="http://tempuri.org/IPromocion_Services/add_DetallePromocion" message="tns:IPromocion_Services_add_DetallePromocion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPromocion_Services/add_DetallePromocionResponse" message="tns:IPromocion_Services_add_DetallePromocion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="webEndPoint" type="tns:IPromocion_Services">
    <wsdl:operation name="selectAll_Promocion">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="add_Promocion">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="selectAll_DetallePromocion">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="add_DetallePromocion">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Promocion_Services">
    <wsdl:port name="webEndPoint" binding="tns:webEndPoint" />
  </wsdl:service>
</wsdl:definitions>