BARBARES_SistemaWeb/BARBARES_SistemaWeb/Service References/ServiceReferenceComprobante/Comprobante_Services.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfComprobantePago">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ComprobantePago" nillable="true" type="tns:ComprobantePago" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComprobantePago" nillable="true" type="tns:ArrayOfComprobantePago" />
  <xs:complexType name="ComprobantePago">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdComprobantePago" type="xs:int" />
      <xs:element minOccurs="0" name="IdMoneda" type="xs:int" />
      <xs:element minOccurs="0" name="IdPedido" type="xs:int" />
      <xs:element minOccurs="0" name="IdPersona" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoComprobante" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroComprobante" type="xs:int" />
      <xs:element minOccurs="0" name="Total" type="xs:double" />
      <xs:element minOccurs="0" name="TransaccionPOS" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComprobantePago" nillable="true" type="tns:ComprobantePago" />
  <xs:complexType name="ResponseBD">
    <xs:sequence>
      <xs:element minOccurs="0" name="Flujo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseBD" nillable="true" type="tns:ResponseBD" />
  <xs:complexType name="ArrayOfDetalleComprobante">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DetalleComprobante" nillable="true" type="tns:DetalleComprobante" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDetalleComprobante" nillable="true" type="tns:ArrayOfDetalleComprobante" />
  <xs:complexType name="DetalleComprobante">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:double" />
      <xs:element minOccurs="0" name="IdComprobantePago" type="xs:int" />
      <xs:element minOccurs="0" name="IdDetalleComprobante" type="xs:int" />
      <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
      <xs:element minOccurs="0" name="IdPromocion" type="xs:int" />
      <xs:element minOccurs="0" name="Subtotal" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DetalleComprobante" nillable="true" type="tns:DetalleComprobante" />
  <xs:complexType name="ArrayOfMedioPago">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MedioPago" nillable="true" type="tns:MedioPago" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMedioPago" nillable="true" type="tns:ArrayOfMedioPago" />
  <xs:complexType name="MedioPago">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdMedioPago" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoTarjeta" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UltimaModificacion" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MedioPago" nillable="true" type="tns:MedioPago" />
  <xs:complexType name="ArrayOfTipoComprobante">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoComprobante" nillable="true" type="tns:TipoComprobante" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoComprobante" nillable="true" type="tns:ArrayOfTipoComprobante" />
  <xs:complexType name="TipoComprobante">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdTipoComprobante" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UltimaModificacion" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoComprobante" nillable="true" type="tns:TipoComprobante" />
  <xs:complexType name="ArrayOfTipoTarjeta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoTarjeta" nillable="true" type="tns:TipoTarjeta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoTarjeta" nillable="true" type="tns:ArrayOfTipoTarjeta" />
  <xs:complexType name="TipoTarjeta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdTipoTarjeta" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UltimaModificacion" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoTarjeta" nillable="true" type="tns:TipoTarjeta" />
</xs:schema>