BARBARES_SistemaWeb/BARBARES_SistemaWeb/Service References/ServiceReferenceComprobante/Comprobante_Services1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2576/Comprobante_Services.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" />
  <xs:element name="selectAll_Comprobante">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAll_ComprobanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="selectAll_ComprobanteResult" nillable="true" type="q1:ArrayOfComprobantePago" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_Comprobante">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="c" nillable="true" type="q2:ComprobantePago" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_ComprobanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="add_ComprobanteResult" nillable="true" type="q3:ResponseBD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAll_DetalleComprobante">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAll_DetalleComprobanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="selectAll_DetalleComprobanteResult" nillable="true" type="q4:ArrayOfDetalleComprobante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_DetalleComprobante">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="d" nillable="true" type="q5:DetalleComprobante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_DetalleComprobanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="add_DetalleComprobanteResult" nillable="true" type="q6:ResponseBD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAll_MedioPago">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAll_MedioPagoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="selectAll_MedioPagoResult" nillable="true" type="q7:ArrayOfMedioPago" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_MedioPago">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="m" nillable="true" type="q8:MedioPago" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_MedioPagoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="add_MedioPagoResult" nillable="true" type="q9:ResponseBD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAll_TipoComprobante">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAll_TipoComprobanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="selectAll_TipoComprobanteResult" nillable="true" type="q10:ArrayOfTipoComprobante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_TipoComprobante">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="t" nillable="true" type="q11:TipoComprobante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_TipoComprobanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="add_TipoComprobanteResult" nillable="true" type="q12:ResponseBD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAll_TipoTarjeta">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAll_TipoTarjetaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="selectAll_TipoTarjetaResult" nillable="true" type="q13:ArrayOfTipoTarjeta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_TipoTarjeta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="t" nillable="true" type="q14:TipoTarjeta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_TipoTarjetaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="add_TipoTarjetaResult" nillable="true" type="q15:ResponseBD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>