BARBARES_SistemaWeb/BARBARES_SistemaWeb/Service References/ServiceReferenceDireccion/Direccion_Services.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDireccion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Direccion" nillable="true" type="tns:Direccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDireccion" nillable="true" type="tns:ArrayOfDireccion" />
  <xs:complexType name="Direccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Calle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdDepartamento" type="xs:int" />
      <xs:element minOccurs="0" name="IdDireccion" type="xs:int" />
      <xs:element minOccurs="0" name="IdDistrito" type="xs:int" />
      <xs:element minOccurs="0" name="IdProvincia" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoCalle" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoUrb" type="xs:int" />
      <xs:element minOccurs="0" name="Interior" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mzlt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" type="xs:int" />
      <xs:element minOccurs="0" name="Referencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Urbanizacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Direccion" nillable="true" type="tns:Direccion" />
  <xs:complexType name="ResponseBD">
    <xs:sequence>
      <xs:element minOccurs="0" name="Flujo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseBD" nillable="true" type="tns:ResponseBD" />
  <xs:complexType name="ArrayOfDepartamento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Departamento" nillable="true" type="tns:Departamento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDepartamento" nillable="true" type="tns:ArrayOfDepartamento" />
  <xs:complexType name="Departamento">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdDepartamento" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UltimaModificacion" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Departamento" nillable="true" type="tns:Departamento" />
  <xs:complexType name="ArrayOfProvincia">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Provincia" nillable="true" type="tns:Provincia" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProvincia" nillable="true" type="tns:ArrayOfProvincia" />
  <xs:complexType name="Provincia">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdDepartamento" type="xs:int" />
      <xs:element minOccurs="0" name="IdProvincia" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UltimaModificacion" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Provincia" nillable="true" type="tns:Provincia" />
  <xs:complexType name="ArrayOfDistrito">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Distrito" nillable="true" type="tns:Distrito" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDistrito" nillable="true" type="tns:ArrayOfDistrito" />
  <xs:complexType name="Distrito">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdDepartamento" type="xs:int" />
      <xs:element minOccurs="0" name="IdDistrito" type="xs:int" />
      <xs:element minOccurs="0" name="IdProvincia" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UltimaModificacion" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Distrito" nillable="true" type="tns:Distrito" />
  <xs:complexType name="ArrayOfTipoCalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoCalle" nillable="true" type="tns:TipoCalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoCalle" nillable="true" type="tns:ArrayOfTipoCalle" />
  <xs:complexType name="TipoCalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdTipoCalle" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UltimaModificacion" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoCalle" nillable="true" type="tns:TipoCalle" />
  <xs:complexType name="ArrayOfTipoUrb">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoUrb" nillable="true" type="tns:TipoUrb" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoUrb" nillable="true" type="tns:ArrayOfTipoUrb" />
  <xs:complexType name="TipoUrb">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdTipoUrb" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UltimaModificacion" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoUrb" nillable="true" type="tns:TipoUrb" />
</xs:schema>