BARBARES_SistemaWeb/BARBARES_SistemaWeb/Service References/ServiceReferenceUsuario/Usuario_Services.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Usuario_Services" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2576/Usuario_Services.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2576/Usuario_Services.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2576/Usuario_Services.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUsuario_Services_selectAll_Usuario_InputMessage">
    <wsdl:part name="parameters" element="tns:selectAll_Usuario" />
  </wsdl:message>
  <wsdl:message name="IUsuario_Services_selectAll_Usuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectAll_UsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuario_Services_add_Usuario_InputMessage">
    <wsdl:part name="parameters" element="tns:add_Usuario" />
  </wsdl:message>
  <wsdl:message name="IUsuario_Services_add_Usuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:add_UsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuario_Services_selectAll_LogUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:selectAll_LogUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuario_Services_selectAll_LogUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectAll_LogUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuario_Services_add_LogUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:add_LogUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuario_Services_add_LogUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:add_LogUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IUsuario_Services">
    <wsdl:operation name="selectAll_Usuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuario_Services/selectAll_Usuario" message="tns:IUsuario_Services_selectAll_Usuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuario_Services/selectAll_UsuarioResponse" message="tns:IUsuario_Services_selectAll_Usuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="add_Usuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuario_Services/add_Usuario" message="tns:IUsuario_Services_add_Usuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuario_Services/add_UsuarioResponse" message="tns:IUsuario_Services_add_Usuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectAll_LogUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuario_Services/selectAll_LogUsuario" message="tns:IUsuario_Services_selectAll_LogUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuario_Services/selectAll_LogUsuarioResponse" message="tns:IUsuario_Services_selectAll_LogUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="add_LogUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuario_Services/add_LogUsuario" message="tns:IUsuario_Services_add_LogUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuario_Services/add_LogUsuarioResponse" message="tns:IUsuario_Services_add_LogUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="webEndPoint" type="tns:IUsuario_Services">
    <wsdl:operation name="selectAll_Usuario">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="add_Usuario">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="selectAll_LogUsuario">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="add_LogUsuario">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Usuario_Services">
    <wsdl:port name="webEndPoint" binding="tns:webEndPoint" />
  </wsdl:service>
</wsdl:definitions>