BARBARES_SistemaWeb/BARBARES_SistemaWeb/Service References/ServiceReferencePedido/Pedido_Services2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2576/Pedido_Services.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" />
  <xs:element name="selectAll_Pedido">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAll_PedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="selectAll_PedidoResult" nillable="true" type="q1:ArrayOfPedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_Pedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="p" nillable="true" type="q2:Pedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_PedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="add_PedidoResult" nillable="true" type="q3:ResponseBD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAll_DetallePedido">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAll_DetallePedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="selectAll_DetallePedidoResult" nillable="true" type="q4:ArrayOfDetallePedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_DetallePedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="d" nillable="true" type="q5:DetallePedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_DetallePedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="add_DetallePedidoResult" nillable="true" type="q6:ResponseBD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAll_EstadoPedido">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAll_EstadoPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="selectAll_EstadoPedidoResult" nillable="true" type="q7:ArrayOfEstadoPedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_EstadoPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="e" nillable="true" type="q8:EstadoPedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_EstadoPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="add_EstadoPedidoResult" nillable="true" type="q9:ResponseBD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAll_MotivoCancelacion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAll_MotivoCancelacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="selectAll_MotivoCancelacionResult" nillable="true" type="q10:ArrayOfMotivoCancelacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_MotivoCancelacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="m" nillable="true" type="q11:MotivoCancelacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_MotivoCancelacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="add_MotivoCancelacionResult" nillable="true" type="q12:ResponseBD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>