BARBARES_SistemaWeb/BARBARES_SistemaWeb/Service References/ServiceReferencePedido/Pedido_Services.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Pedido_Services" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2576/Pedido_Services.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2576/Pedido_Services.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2576/Pedido_Services.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPedido_Services_selectAll_Pedido_InputMessage">
    <wsdl:part name="parameters" element="tns:selectAll_Pedido" />
  </wsdl:message>
  <wsdl:message name="IPedido_Services_selectAll_Pedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectAll_PedidoResponse" />
  </wsdl:message>
  <wsdl:message name="IPedido_Services_add_Pedido_InputMessage">
    <wsdl:part name="parameters" element="tns:add_Pedido" />
  </wsdl:message>
  <wsdl:message name="IPedido_Services_add_Pedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:add_PedidoResponse" />
  </wsdl:message>
  <wsdl:message name="IPedido_Services_selectAll_DetallePedido_InputMessage">
    <wsdl:part name="parameters" element="tns:selectAll_DetallePedido" />
  </wsdl:message>
  <wsdl:message name="IPedido_Services_selectAll_DetallePedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectAll_DetallePedidoResponse" />
  </wsdl:message>
  <wsdl:message name="IPedido_Services_add_DetallePedido_InputMessage">
    <wsdl:part name="parameters" element="tns:add_DetallePedido" />
  </wsdl:message>
  <wsdl:message name="IPedido_Services_add_DetallePedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:add_DetallePedidoResponse" />
  </wsdl:message>
  <wsdl:message name="IPedido_Services_selectAll_EstadoPedido_InputMessage">
    <wsdl:part name="parameters" element="tns:selectAll_EstadoPedido" />
  </wsdl:message>
  <wsdl:message name="IPedido_Services_selectAll_EstadoPedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectAll_EstadoPedidoResponse" />
  </wsdl:message>
  <wsdl:message name="IPedido_Services_add_EstadoPedido_InputMessage">
    <wsdl:part name="parameters" element="tns:add_EstadoPedido" />
  </wsdl:message>
  <wsdl:message name="IPedido_Services_add_EstadoPedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:add_EstadoPedidoResponse" />
  </wsdl:message>
  <wsdl:message name="IPedido_Services_selectAll_MotivoCancelacion_InputMessage">
    <wsdl:part name="parameters" element="tns:selectAll_MotivoCancelacion" />
  </wsdl:message>
  <wsdl:message name="IPedido_Services_selectAll_MotivoCancelacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectAll_MotivoCancelacionResponse" />
  </wsdl:message>
  <wsdl:message name="IPedido_Services_add_MotivoCancelacion_InputMessage">
    <wsdl:part name="parameters" element="tns:add_MotivoCancelacion" />
  </wsdl:message>
  <wsdl:message name="IPedido_Services_add_MotivoCancelacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:add_MotivoCancelacionResponse" />
  </wsdl:message>
  <wsdl:portType name="IPedido_Services">
    <wsdl:operation name="selectAll_Pedido">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedido_Services/selectAll_Pedido" message="tns:IPedido_Services_selectAll_Pedido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedido_Services/selectAll_PedidoResponse" message="tns:IPedido_Services_selectAll_Pedido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="add_Pedido">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedido_Services/add_Pedido" message="tns:IPedido_Services_add_Pedido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedido_Services/add_PedidoResponse" message="tns:IPedido_Services_add_Pedido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectAll_DetallePedido">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedido_Services/selectAll_DetallePedido" message="tns:IPedido_Services_selectAll_DetallePedido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedido_Services/selectAll_DetallePedidoResponse" message="tns:IPedido_Services_selectAll_DetallePedido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="add_DetallePedido">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedido_Services/add_DetallePedido" message="tns:IPedido_Services_add_DetallePedido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedido_Services/add_DetallePedidoResponse" message="tns:IPedido_Services_add_DetallePedido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectAll_EstadoPedido">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedido_Services/selectAll_EstadoPedido" message="tns:IPedido_Services_selectAll_EstadoPedido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedido_Services/selectAll_EstadoPedidoResponse" message="tns:IPedido_Services_selectAll_EstadoPedido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="add_EstadoPedido">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedido_Services/add_EstadoPedido" message="tns:IPedido_Services_add_EstadoPedido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedido_Services/add_EstadoPedidoResponse" message="tns:IPedido_Services_add_EstadoPedido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectAll_MotivoCancelacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedido_Services/selectAll_MotivoCancelacion" message="tns:IPedido_Services_selectAll_MotivoCancelacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedido_Services/selectAll_MotivoCancelacionResponse" message="tns:IPedido_Services_selectAll_MotivoCancelacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="add_MotivoCancelacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedido_Services/add_MotivoCancelacion" message="tns:IPedido_Services_add_MotivoCancelacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedido_Services/add_MotivoCancelacionResponse" message="tns:IPedido_Services_add_MotivoCancelacion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="webEndPoint" type="tns:IPedido_Services">
    <wsdl:operation name="selectAll_Pedido">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="add_Pedido">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="selectAll_DetallePedido">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="add_DetallePedido">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="selectAll_EstadoPedido">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="add_EstadoPedido">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="selectAll_MotivoCancelacion">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="add_MotivoCancelacion">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Pedido_Services">
    <wsdl:port name="webEndPoint" binding="tns:webEndPoint" />
  </wsdl:service>
</wsdl:definitions>