BARBARES_SistemaWeb/BARBARES_SistemaWeb/Service References/ServiceReferencePersona/Persona_Services.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Persona_Services" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2576/Persona_Services.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2576/Persona_Services.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2576/Persona_Services.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPersona_Services_selectAll_Persona_InputMessage">
    <wsdl:part name="parameters" element="tns:selectAll_Persona" />
  </wsdl:message>
  <wsdl:message name="IPersona_Services_selectAll_Persona_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectAll_PersonaResponse" />
  </wsdl:message>
  <wsdl:message name="IPersona_Services_selectByTipo_Persona_InputMessage">
    <wsdl:part name="parameters" element="tns:selectByTipo_Persona" />
  </wsdl:message>
  <wsdl:message name="IPersona_Services_selectByTipo_Persona_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectByTipo_PersonaResponse" />
  </wsdl:message>
  <wsdl:message name="IPersona_Services_add_Persona_InputMessage">
    <wsdl:part name="parameters" element="tns:add_Persona" />
  </wsdl:message>
  <wsdl:message name="IPersona_Services_add_Persona_OutputMessage">
    <wsdl:part name="parameters" element="tns:add_PersonaResponse" />
  </wsdl:message>
  <wsdl:message name="IPersona_Services_selectAll_TipoPersona_InputMessage">
    <wsdl:part name="parameters" element="tns:selectAll_TipoPersona" />
  </wsdl:message>
  <wsdl:message name="IPersona_Services_selectAll_TipoPersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectAll_TipoPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="IPersona_Services_add_TipoPersona_InputMessage">
    <wsdl:part name="parameters" element="tns:add_TipoPersona" />
  </wsdl:message>
  <wsdl:message name="IPersona_Services_add_TipoPersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:add_TipoPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="IPersona_Services_selectAll_TipoDocumento_InputMessage">
    <wsdl:part name="parameters" element="tns:selectAll_TipoDocumento" />
  </wsdl:message>
  <wsdl:message name="IPersona_Services_selectAll_TipoDocumento_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectAll_TipoDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="IPersona_Services_add_TipoDocumento_InputMessage">
    <wsdl:part name="parameters" element="tns:add_TipoDocumento" />
  </wsdl:message>
  <wsdl:message name="IPersona_Services_add_TipoDocumento_OutputMessage">
    <wsdl:part name="parameters" element="tns:add_TipoDocumentoResponse" />
  </wsdl:message>
  <wsdl:portType name="IPersona_Services">
    <wsdl:operation name="selectAll_Persona">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersona_Services/selectAll_Persona" message="tns:IPersona_Services_selectAll_Persona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersona_Services/selectAll_PersonaResponse" message="tns:IPersona_Services_selectAll_Persona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectByTipo_Persona">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersona_Services/selectByTipo_Persona" message="tns:IPersona_Services_selectByTipo_Persona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersona_Services/selectByTipo_PersonaResponse" message="tns:IPersona_Services_selectByTipo_Persona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="add_Persona">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersona_Services/add_Persona" message="tns:IPersona_Services_add_Persona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersona_Services/add_PersonaResponse" message="tns:IPersona_Services_add_Persona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectAll_TipoPersona">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersona_Services/selectAll_TipoPersona" message="tns:IPersona_Services_selectAll_TipoPersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersona_Services/selectAll_TipoPersonaResponse" message="tns:IPersona_Services_selectAll_TipoPersona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="add_TipoPersona">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersona_Services/add_TipoPersona" message="tns:IPersona_Services_add_TipoPersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersona_Services/add_TipoPersonaResponse" message="tns:IPersona_Services_add_TipoPersona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectAll_TipoDocumento">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersona_Services/selectAll_TipoDocumento" message="tns:IPersona_Services_selectAll_TipoDocumento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersona_Services/selectAll_TipoDocumentoResponse" message="tns:IPersona_Services_selectAll_TipoDocumento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="add_TipoDocumento">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersona_Services/add_TipoDocumento" message="tns:IPersona_Services_add_TipoDocumento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersona_Services/add_TipoDocumentoResponse" message="tns:IPersona_Services_add_TipoDocumento_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="webEndPoint" type="tns:IPersona_Services">
    <wsdl:operation name="selectAll_Persona">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="selectByTipo_Persona">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="add_Persona">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="selectAll_TipoPersona">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="add_TipoPersona">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="selectAll_TipoDocumento">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="add_TipoDocumento">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Persona_Services">
    <wsdl:port name="webEndPoint" binding="tns:webEndPoint" />
  </wsdl:service>
</wsdl:definitions>