BARBARES_SistemaWeb/BARBARES_SistemaWeb/Service References/ServiceReferenceAlmacen/Almacen_Services2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2576/Almacen_Services.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" />
  <xs:element name="selectAll_Almacen">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAll_AlmacenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="selectAll_AlmacenResult" nillable="true" type="q1:ArrayOfAlmacen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_Almacen">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="a" nillable="true" type="q2:Almacen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_AlmacenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="add_AlmacenResult" nillable="true" type="q3:ResponseBD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>