BARBARES_SistemaWeb/BARBARES_SistemaWeb/Service References/ServiceReferenceParametro/Parametro_Services.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2576/Parametro_Services.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" />
  <xs:element name="add_Parametro">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="p" nillable="true" type="q1:Parametro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_ParametroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="add_ParametroResult" nillable="true" type="q2:ResponseBD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAll_Parametro">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAll_ParametroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="selectAll_ParametroResult" nillable="true" type="q3:ArrayOfParametro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAll_ParametrosSeguridad">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAll_ParametrosSeguridadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="selectAll_ParametrosSeguridadResult" nillable="true" type="q4:ArrayOfParametrosSeguridad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_ParametrosSeguridad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="p" nillable="true" type="q5:ParametrosSeguridad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_ParametrosSeguridadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" minOccurs="0" name="add_ParametrosSeguridadResult" nillable="true" type="q6:ResponseBD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>