BARBARES_SistemaWeb/BARBARES_SistemaWeb/Service References/ServiceReferenceParametro/Parametro_Services2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Parametro">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoPadre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdParametro" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValorNum" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Parametro" nillable="true" type="tns:Parametro" />
  <xs:complexType name="ResponseBD">
    <xs:sequence>
      <xs:element minOccurs="0" name="Flujo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseBD" nillable="true" type="tns:ResponseBD" />
  <xs:complexType name="ArrayOfParametro">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Parametro" nillable="true" type="tns:Parametro" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParametro" nillable="true" type="tns:ArrayOfParametro" />
  <xs:complexType name="ArrayOfParametrosSeguridad">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ParametrosSeguridad" nillable="true" type="tns:ParametrosSeguridad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParametrosSeguridad" nillable="true" type="tns:ArrayOfParametrosSeguridad" />
  <xs:complexType name="ParametrosSeguridad">
    <xs:sequence>
      <xs:element minOccurs="0" name="CantidadIntentosFallidos" type="xs:int" />
      <xs:element minOccurs="0" name="CaracteresContrasena" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdParametrosSeguridad" type="xs:int" />
      <xs:element minOccurs="0" name="LongitudContrasena" type="xs:int" />
      <xs:element minOccurs="0" name="TiempoMaximoSesion" type="xs:int" />
      <xs:element minOccurs="0" name="TiempoVigenciaDias" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParametrosSeguridad" nillable="true" type="tns:ParametrosSeguridad" />
</xs:schema>