BARBARES_SistemaWeb/BARBARES_SistemaWeb/Service References/ServiceReferencePerfil/Perfil_Services.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Perfil_Services" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2576/Perfil_Services.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2576/Perfil_Services.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2576/Perfil_Services.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPerfil_Services_selectAll_Perfil_InputMessage">
    <wsdl:part name="parameters" element="tns:selectAll_Perfil" />
  </wsdl:message>
  <wsdl:message name="IPerfil_Services_selectAll_Perfil_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectAll_PerfilResponse" />
  </wsdl:message>
  <wsdl:message name="IPerfil_Services_add_Perfil_InputMessage">
    <wsdl:part name="parameters" element="tns:add_Perfil" />
  </wsdl:message>
  <wsdl:message name="IPerfil_Services_add_Perfil_OutputMessage">
    <wsdl:part name="parameters" element="tns:add_PerfilResponse" />
  </wsdl:message>
  <wsdl:message name="IPerfil_Services_selectAll_PerfilXUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:selectAll_PerfilXUsuario" />
  </wsdl:message>
  <wsdl:message name="IPerfil_Services_selectAll_PerfilXUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectAll_PerfilXUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IPerfil_Services_add_PerfilXUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:add_PerfilXUsuario" />
  </wsdl:message>
  <wsdl:message name="IPerfil_Services_add_PerfilXUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:add_PerfilXUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IPerfil_Services">
    <wsdl:operation name="selectAll_Perfil">
      <wsdl:input wsaw:Action="http://tempuri.org/IPerfil_Services/selectAll_Perfil" message="tns:IPerfil_Services_selectAll_Perfil_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPerfil_Services/selectAll_PerfilResponse" message="tns:IPerfil_Services_selectAll_Perfil_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="add_Perfil">
      <wsdl:input wsaw:Action="http://tempuri.org/IPerfil_Services/add_Perfil" message="tns:IPerfil_Services_add_Perfil_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPerfil_Services/add_PerfilResponse" message="tns:IPerfil_Services_add_Perfil_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectAll_PerfilXUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IPerfil_Services/selectAll_PerfilXUsuario" message="tns:IPerfil_Services_selectAll_PerfilXUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPerfil_Services/selectAll_PerfilXUsuarioResponse" message="tns:IPerfil_Services_selectAll_PerfilXUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="add_PerfilXUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IPerfil_Services/add_PerfilXUsuario" message="tns:IPerfil_Services_add_PerfilXUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPerfil_Services/add_PerfilXUsuarioResponse" message="tns:IPerfil_Services_add_PerfilXUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="webEndPoint" type="tns:IPerfil_Services">
    <wsdl:operation name="selectAll_Perfil">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="add_Perfil">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="selectAll_PerfilXUsuario">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="add_PerfilXUsuario">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Perfil_Services">
    <wsdl:port name="webEndPoint" binding="tns:webEndPoint" />
  </wsdl:service>
</wsdl:definitions>