BARBARES_SistemaWeb/BARBARES_SistemaWeb/Service References/ServiceReferencePerfil/Perfil_Services2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BARABARES_Services.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPerfil">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Perfil" nillable="true" type="tns:Perfil" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPerfil" nillable="true" type="tns:ArrayOfPerfil" />
  <xs:complexType name="Perfil">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="FechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdPerfil" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UltimaModificacion" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Perfil" nillable="true" type="tns:Perfil" />
  <xs:complexType name="ResponseBD">
    <xs:sequence>
      <xs:element minOccurs="0" name="Flujo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseBD" nillable="true" type="tns:ResponseBD" />
  <xs:complexType name="ArrayOfPerfilXUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PerfilXUsuario" nillable="true" type="tns:PerfilXUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPerfilXUsuario" nillable="true" type="tns:ArrayOfPerfilXUsuario" />
  <xs:complexType name="PerfilXUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaAsignacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdPerfil" type="xs:int" />
      <xs:element minOccurs="0" name="IdPerfilXUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PerfilXUsuario" nillable="true" type="tns:PerfilXUsuario" />
</xs:schema>